pandas
numpy
matplotlib
seaborn
jupyter
notebook
python-dotenv

# Embeddings
sentence-transformers

# Vector DB
chromadb

# RAG Framework
langchain
langchain-community

# LLMs
ollama>=0.4.0

# API & UI
fastapi
uvicorn[standard]
streamlit

# Utilities
tqdm
scikit-learn
